.player-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    margin-top: 3%;
    margin-left: 3%;
    max-width: 300px; 
    height: 150px; 
}

.player {
    text-align: center;
    margin: auto; /* Centering of text */
    margin-right: 20%;
    padding-right: 10%;
    font-size: 40px;
}

.border{
    margin-top: 3%;
    margin-left: 3%;
    border: 2px solid black; 
    border-radius: 10px;    
    max-width: 400px;
    padding-bottom: 3%;
    padding-left: 1%;
}

.white-border{
    border: 2px solid white;
}


.btn-main {
    border-radius: 25px;
    border: 2px solid #000000;
    width: 80%;
    max-width: 200px;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    // background-color: rgba(255, 255, 255, 0.628);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-main:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}