<div class="container">
    <div class="header">
        <div mat-dialog-title>{{translateService.getTranslation('Enter email to receive a one-time code')}}</div>
    </div>
    <mat-dialog-content class="content">
        <mat-form-field appearance="outline">
            <mat-label>{{translateService.getTranslation('Email')}}</mat-label>
            <input matInput [(ngModel)]="email" required (keyup.enter)="sendPasswordChangeRequestEmail()" placeholder="user@domain.com" [disabled]="this.showCodeInput">
            <mat-error>{{translateService.getTranslation('Email is required')}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="this.showCodeInput">
            <mat-label>{{translateService.getTranslation('Enter code')}}</mat-label>
            <input matInput maxlength="6" [(ngModel)]="inputCode" placeholder="123456" [disabled]="this.inputIsGeneratedCode()" [ngStyle]="{'color': this.inputIsGeneratedCode() ? 'green' : 'inherit'}">
        </mat-form-field>
        <mat-form-field appearance="outline" *ngIf="this.showCodeInput && this.inputIsGeneratedCode()">
            <mat-label>{{translateService.getTranslation('Enter new password')}}</mat-label>
            <input type="password" matInput [(ngModel)]="newPassword" placeholder="{{translateService.getTranslation('New password')}}" [disabled]="!this.inputIsGeneratedCode()" (keyup.enter)="changePasswordRequest()">
            <mat-error>{{translateService.getTranslation('Password required')}}</mat-error>
            <mat-hint class="mat-error" *ngIf="!isValidPassword()">{{translateService.getTranslation('Password must have at least')}} {{ minLengthPassword }} {{translateService.getTranslation('characters')}}</mat-hint>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>{{translateService.getTranslation('Cancel')}}</button>
        <button mat-raised-button *ngIf="!this.showCodeInput" (click)="sendPasswordChangeRequestEmail()" [disabled]="!isValidEmail()">{{translateService.getTranslation('Confirm')}}</button>
        <button mat-raised-button *ngIf="this.showCodeInput" (click)="changePasswordRequest()" [disabled]="!isValidPassword()">{{translateService.getTranslation('Save new password')}}</button>
    </mat-dialog-actions>
</div>