<div class="title">{{translateService.getTranslation('Game constants')}}</div>

<mat-form-field class="inputs" appearance="outline" title="{{translateService.getTranslation('Initial time description')}}">
    <mat-label class="bold">{{translateService.getTranslation('Initial time')}}</mat-label>
    <input #initial required class="text" matInput type="number" [(ngModel)]="inputValidationService.constants.initial" min="{{initialMinValue}}" max="{{initialMaxValue}}" (keypress)="inputValidationService.validateKeyPress($event)" (ngModelChange)="this.inputValidationService.verifyInitial(initialRef)">
    <mat-error>{{ initialErrorMessage }}</mat-error>
</mat-form-field>

<mat-form-field class="inputs" appearance="outline" title="{{translateService.getTranslation('Penalty time description')}}">
    <mat-label class="bold">{{translateService.getTranslation('Penalty time')}}</mat-label>
    <input #penalty required class="text" matInput type="number" [(ngModel)]="inputValidationService.constants.penalty" min="{{penaltyMinValue}}" max="{{penaltyMaxValue}}" (keypress)="inputValidationService.validateKeyPress($event)" (ngModelChange)="this.inputValidationService.verifyPenalty(penaltyRef)">
    <mat-error>{{ penaltyErrorMessage }}</mat-error>
</mat-form-field>

<mat-form-field class="inputs" appearance="outline" title="{{translateService.getTranslation('Gain time description')}}">
    <mat-label class="bold">{{translateService.getTranslation('Time saved')}}</mat-label>
    <input #gain required class="text" matInput type="number" [(ngModel)]="inputValidationService.constants.gain" min="{{gainMinValue}}" max="{{gainMaxValue}}" (keypress)="inputValidationService.validateKeyPress($event)" (ngModelChange)="this.inputValidationService.verifyGain(gainRef)">
    <mat-error>{{ gainErrorMessage }}</mat-error>
</mat-form-field>
<div class="btn-container">
    <!-- <button mat-raised-button class="btn-config actions" title="{{ defaultValuesMessage }}" (click)="this.lobbyService.resetValues()"><mat-icon>restore</mat-icon></button> -->
    <button mat-raised-button class="btn-config accept actions" title="{{translateService.getTranslation('Apply modifications')}}" [disabled]="inputValidationService.constantsAreInvalid() || !inputValidationService.constantsAreDifferentFromPrevious()" (click)="inputValidationService.setConstants()"><mat-icon>check_circle_outline</mat-icon></button>
</div>