.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid transparent;
}

.image:hover {
    border-color: #007bff;
}

button:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}