<div class="canva-container">
    <canvas #canvasDrawing class="canvas-draw"  width="640" height="480" (mousedown)="activate($event)" (mousemove)="draw($event)" (mouseout)="this.outOfCanvasEvent.emit()"></canvas>
    <div class="button-container">
        <button mat-raised-button color="warn" class="button" title="{{translationService.getTranslation('Erase drawing')}}" (click)="actionClearCanvas()">{{translationService.getTranslation('Reset drawing')}}</button>
        <!-- <button mat-raised-button class="button" id="duplicate-button" title="{{translationService.getTranslation('Apply drawing to the opposite canvas')}}" (click)=" this.drawingService.duplicateDrawing(this.name)">{{translationService.getTranslation('Duplicate drawing')}}</button> -->
    </div>
</div>