.join-container {
    display: flex;
    margin: 5px;
    flex-flow: column;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accept:hover {
    background-color: rgb(62, 250, 78);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.decline:hover {
    background-color: rgb(250, 62, 62);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-main {
    border-radius: 25px;
    border: 2px solid #000000;
    width: 80%;
    font-weight: bold;
    padding-top: 5%;
    text-transform: uppercase;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    align-self: center;
    min-width: 100px;
    justify-content: center;
    display: flex;
    cursor: pointer;
}