<div id="info">
    <div class="title">{{gameTitle}}</div>
    <div class="description">Mode : {{gameMode}}</div>
    <!-- <div class="description">{{translateService.getTranslation('Remaining differences')}} : {{differenceAmount}}</div> -->
    <!-- <div *ngIf="gainValue !== -1" class="description">{{translateService.getTranslation('Gain time description')}} : {{gainValue}} {{translateService.getTranslation('seconds')}}</div>
    <div *ngIf="penaltyValue !== -1" class="description">{{translateService.getTranslation('Penalty time description')}} : {{penaltyValue}} {{translateService.getTranslation('seconds')}}</div> -->
</div>