.selection {
    background-position: center;
    min-height: 100vh;
    height: auto;
}

.selection-background {
    background: linear-gradient(315deg, #e1e1ff, 50%, rgb(39, 119, 255));
}

.header {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

#title-selection-page {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.btn-selection {
    border-radius: 25px;
    border: 2px solid black;
    width: 80%;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    // background-color: rgba(255, 255, 255, 0.628);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.home {
    place-self: start;
}

.footer-buttons-container .btn-selection, .header .home {
    border-radius: 5px;
    border-color: grey;
    width: fit-content;
    height: 50px;
    font-size: 50px;
    color: aqua;
    background-color: black;
}

.btn-main-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    max-width: 400px;
    height: 200px;
    border-radius: 25px;
    border: 2px solid #ffffff;
}

.btn-main {
    border-radius: 25px;
    border: 2px solid #000000;
    width: 80%;
    height: 50px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    // background-color: rgba(255, 255, 255, 0.628);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.btn-main:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.center {
    align-self: center;
    margin: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.loading {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    z-index: 9;
}

.loading span {
    font-size: 20px;
    font-weight: bold;
}

.no-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 87vh;
    justify-self: baseline;
}

.no-content {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    display: flex;
    border: 5px double white;
    border-radius: 20px;
    padding: 2em;
    background-color: rgba(30, 0, 255, 0.1882352941);
}

.error-icon {
    font-size: smaller;
}