<div class="config-background" [ngClass]="themeService.isDarkTheme() ? 'dark-background white-text' : 'selection-background'">
    <header class="header">
        <button mat-raised-button class="btn-selection home" routerLink="/home" title="{{translateService.getTranslation('Home')}}"><mat-icon [inline]="true">home</mat-icon></button>
        <span id="title-config-page">{{translateService.getTranslation('Configuration menu')}}</span>
    </header>

    <div>
        <div class="column">
            <app-selection-area #selectionArea [viewMode]="viewMode" [cardDataArray]="cardChangeService.getPageData()"> </app-selection-area>
        </div>
    </div>
    
    <footer class="footer">
        <div></div>
        <div class="footer-buttons-container">
            <div>
                <button *ngIf="this.cardChangeService.previousPageButtonVisibility" class="btn-selection prev" (click)="this.cardChangeService.changePage(false);" title="{{translateService.getTranslation('Previous')}}"><mat-icon [inline]="true">arrow_back</mat-icon></button>
            </div>
            <div>
                <button *ngIf="this.cardChangeService.nextPageButtonVisibility" class="btn-selection next" (click)="this.cardChangeService.changePage(true);" title="{{translateService.getTranslation('Next')}}"><mat-icon [inline]="true">arrow_forward</mat-icon></button>
            </div>
        </div>
    </footer>
</div>

