<div class="container">
    <div mat-dialog-title>{{ translateService.getTranslation('Enter admin password') }}</div>
    <div mat-dialog-content class="content">
        <mat-form-field appearance="outline">
            <mat-label>{{ translateService.getTranslation('Password') }}</mat-label>
            <input matInput type="password" [(ngModel)]="password" required (keyup.enter)="submit()" placeholder="{{ translateService.getTranslation('Password') }}">
            <mat-error>{{ translateService.getTranslation('Password required') }}</mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button mat-dialog-close>{{ translateService.getTranslation('Cancel') }}</button>
        <button mat-raised-button [disabled]="isPasswordEmpty()" (click)="submit()">{{ translateService.getTranslation('Confirm') }}</button>
    </div>
</div>

