.header {
    width: 100%;
    justify-items: center;
}

.container {
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 185px;
    min-width: inherit;
}

button:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}
